.MultiCarousel {border-radius: 10px; box-shadow: 0 4px 10px rgb(0 0 0 / 0.2); background-color: #f5f4f4; float: left; overflow: hidden; padding: 10px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { border-radius: 10px; float: left; display: flex; flex-flow: wrap;}
        .MultiCarousel .MultiCarousel-inner .item > div {align-content: center; width: 100%; text-align: center; padding:2px; margin:3px; background:#f1f1f1; color:#666;}
        .MultiCarousel .MultiCarousel-inner .item > div > img {display: block; border-radius: 5px; margin: auto; width:100%;height: 180px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }